.search-bar {
  display: flex;
  &__input {
    font-size: 1.8rem;
    padding: 1rem 1.6rem;
    border: none;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    width: 100%;
    color: var(--gray-200);
  }
  &__button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.6rem;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    background-color: var(--gray);
    cursor: pointer;
  }
  &__image {
    width: 2rem;
  }
  button:disabled {
    cursor: not-allowed;
  }
}
