.search {
  &__header {
    background-color: var(--yellow);
    padding: 1rem 8rem;
    display: flex;
  }
  &__bar {
    flex: 2;
  }
  &__body {
    background-color: var(--gray);
    padding: 1rem 8rem;
  }
  &__logo {
    width: 5rem;
    margin-right: 2rem;
  }
  &__box {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-color: white;
    padding: var(--gutter);
  }
  &__hr {
    border: 1px solid var(--gray);
    margin: var(--gutter) 0;
    &:last-child {
      display: none;
    }
  }
}
.result {
  display: flex;
  &__image {
    width: 18rem;
    height: 18rem;
    border-radius: 4px;
    margin-right: var(--gutter);
    cursor: pointer;
  }
  &__price {
    margin-top: var(--gutter);
    margin-bottom: calc(var(--gutter) * 2);
    display: flex;
    align-items: center;
    cursor: pointer;
    span {
      margin-right: 0.5rem;
    }
  }
  &__condition {
    display: block;
    text-transform: capitalize;
  }
  &__title {
    cursor: pointer;
  }
}
